<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="container-fluid">
    <div id="container" style="height: 100%;">
      <!-- Top header -->
      <br /><br /><br /><br />
      <div class="w-50 px-3 py-3 pt-md-4 pb-md-4 mx-auto text-center">
        <h1 class="display-4 font-weight-bold">Alef Activities For the New Academic Year</h1>
        <br /><br />
      </div>

      <!-- Cards container -->
      <div class="container text-center">
        <div class="row">

          <!-- Card #1, Starter -->
          <div class="col-lg-4 col-md-6 col-sm-10 pb-4 d-block m-auto">
            <div class="pricing-item" style="box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.29);">
              <!-- Indicator of subscription type -->
              <div class="pt-4 pb-3" style="letter-spacing: 2px">
                <h4>Example 1</h4>
              </div>
              <!-- Price class -->
              <div class="pricing-price pb-1 text-primary color-primary-text ">
                <h1 style="font-weight: 1000; font-size: 3.5em;">
                  
                </h1>
              </div>
              <!-- Perks of said subscription -->
              <div class="pricing-description">
                <ul class="list-unstyled mt-3 mb-4">
                  <h2><li class="pl-3 pr-3">Using DHTMLX Gantt library</li></h2>
                </ul>
              </div>
              <!-- Button -->
              <div class="pricing-button pb-4">
                <a type="button" class="btn btn-lg btn-primary w-75" href="/chart4">Get started</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-10 pb-4 d-block m-auto">
            <div class="pricing-item" style="box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.29);">
              <!-- Indicator of subscription type -->
              <div class="pt-4 pb-3" style="letter-spacing: 2px">
                <h4>Example 2</h4>
              </div>
              <!-- Price class -->
              <div class="pricing-price pb-1 text-primary color-primary-text ">
                <h1 style="font-weight: 1000; font-size: 3.5em;">
          
                </h1>
              </div>
              <!-- Perks of said subscription -->
              <div class="pricing-description">
                <ul class="list-unstyled mt-3 mb-4">
                  <h2>
                    <li class="pl-3 pr-3">Using Google Gantt chart library</li>
                  </h2>
                </ul>
              </div>
              <!-- Button -->
              <div class="pricing-button pb-4">
                <a type="button" class="btn btn-lg btn-primary w-75" href="/chart2">Get started</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-10 pb-4 d-block m-auto">
            <div class="pricing-item" style="box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.29);">
              <!-- Indicator of subscription type -->
              <div class="pt-4 pb-3" style="letter-spacing: 2px">
                <h4>Example 3</h4>
              </div>
              <!-- Price class -->
              <div class="pricing-price pb-1 text-primary color-primary-text ">
                <h1 style="font-weight: 1000; font-size: 3.5em;">
          
                </h1>
              </div>
              <!-- Perks of said subscription -->
              <div class="pricing-description">
                <ul class="list-unstyled mt-3 mb-4">
                  <h2>
                    <li class="pl-3 pr-3">Using amcharts library</li>
                  </h2>
                </ul>
              </div>
              <!-- Button -->
              <div class="pricing-button pb-4">
                <a type="button" class="btn btn-lg btn-primary w-75" href="/chart3">Get started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>